<h1>Employees#list</h1>
<p>Find me in app/views/employees/list.html.erb</p>


<p><%= @name %></p>
<p><%= @age %></p>
<p><%= @dob %>	</p>
<p><%= @count %></p>

<p>
	<%= link_to "New Employee", employees_create_path %>
</p>
